<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.danitox.igio_android">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
            android:name=".ApplicationSubclass"
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:usesCleartextTraffic="true"
            android:icon="@mipmap/igio_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/igio_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">


        <activity
                android:name=".TabBarActivity"
                android:label="iGio">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".NoteListActivity"
                android:label="Diario personale"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".HomeActivityTesting"/>
        </activity>

        <activity
                android:name=".HomeActivityTesting"
                android:label="iGio">
        </activity>
        <activity
                android:name=".NoteEditorActivity"
                android:label="Editor"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".NoteListActivity"/>
        </activity>
        <activity
                android:name=".LocationActivity"
                android:label="Locations"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".HomeActivityTesting"/>
        </activity>
        <activity
                android:name=".CompagniaActivity"
                android:label="Percorso formativo"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".HomeActivityTesting"/>
        </activity>

        <activity
                android:name=".AngeloMedieActivity"
                android:label="Angelo Custode"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".HomeActivityTesting"/>
        </activity>

        <activity
                android:name=".AngeloActivity"
                android:label="Angelo Custode"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".HomeActivityTesting"/>
        </activity>

        <activity
                android:name=".AngeloEditRispostaActivity"
                android:label="Risposta"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".AngeloActivity"/>
        </activity>

        <activity
                android:name=".RegolaCategorieActivity"
                android:label="Agenda dell&apos;allegria e della santità"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".TabBarActivity"/>
        </activity>
        <activity
                android:name=".RegolaRispostaActivity"
                android:label="Risposta"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".RegolaCategorieActivity"/>
        </activity>
        <activity
                android:name=".TeenStarMaschioListActivity"
                android:label="TeenSTAR"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".HomeActivityTesting"/>
        </activity>
        <activity
                android:name=".TeenStarMaschioEditorActivity"
                android:label="TeenSTAR"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".TeenStarMaschioListActivity"/>
        </activity>
        <activity
                android:name=".TeenStarFemminaListActivity"
                android:label="TeenSTAR"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".HomeActivityTesting"/>
        </activity>
        <activity
                android:name=".TeenStarFemminaEditorActivity"
                android:label="TeenSTAR"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".TeenStarFemminaListActivity"/>
        </activity>
        <activity
                android:name=".GioProListActivity"
                android:label="GioProNet"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".HomeActivityTesting"/>
        </activity>
        <activity
                android:name=".GioProEditorActivity"
                android:label="Editor"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".GioProListActivity"/>
        </activity>

        <activity
                android:name=".InfoActivity"
                android:label="Info"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".HomeActivityTesting"/>
        </activity>
        <activity
                android:name=".NotificheActivity"
                android:label="Notifiche"
                android:launchMode="singleTop">

            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".HomeActivityTesting"/>
        </activity>
        <activity
                android:name=".LicenzeActivity"
                android:label="Licenze"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".TabBarActivity"/>
        </activity>
        <activity
                android:name=".DebugActivity"
                android:label="Debug"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".HomeActivityTesting"/>
        </activity>

        <activity
                android:name=".RiassuntoActivity"
                android:label="Riassunto"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".HomeActivityTesting"/>
        </activity>

        <activity
                android:name=".WelcomePageActivity"
                android:label="iGio"
                android:launchMode="singleTop">
        </activity>

        <activity
                android:name=".WelcomeEditActivity"
                android:label="Impostazioni"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".WelcomePageActivity"/>
        </activity>


        <meta-data android:name="com.onesignal.BadgeCount" android:value="DISABLE" />
    </application>

</manifest>